@page "/"
<h3>Index</h3>
<KostyaStart.Components.TestComp inputtext="Внешний тест для компонета TextComp"
                                 handler="(n) => UseResult((int)n)" />
<h1>Полученный результат: @(result)</h1>

@code {

    private int result;
    private void UseResult(int nwrds)
    {
        result = nwrds;
    }
}
