@page "/counter"
@page "/counter/{searchstring}"

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>
<p>Current searchstring: @searchstring </p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public int CurrentCount { get; set; }
    [Parameter]
    public string searchstring { get; set; }

    private void IncrementCount()
    {
        CurrentCount++;
    }
}
