################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/KostyaStart/bin/Debug/net5.0
/KostyaStart/obj
/.vs
